.image-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 130px;
    padding: 20px 25px;
    transform: translate(110%, 120%);
}

.btn-btn-primary {
    text-align: center;
    margin-bottom: 100;
    display: flex;
}